.button {
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 14px;
  color: var(--color-cream);
  text-align: center;
  background-color: var(--color-black);
  border: solid 1px var(--color-gray);
  border-radius: 17px;
}

.black {
  color: var(--color-cream);
  background-color: var(--color-black);
  border: solid 1px var(--color-gray);
}
