.weekdaySlot {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  padding: 22px 0;
}

.dateGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-calender-table-line);
}
