.contents {
  flex-grow: 1;
  padding-block-start: 24px;
  background-color: var(--color-white);
  background-size: 32px 32px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
