.dayText {
  width: 28px;
  height: 28px;
  margin: 3px auto;
  font-size: 18px;
  color: var(--color-black);
  text-align: center;

  &.ordinaryDay {
    color: var(--color-black);
  }

  &.today {
    color: var(--color-white);
    background-color: var(--color-emerald);
    border-radius: 50%;
  }

  &.grayedOutDay {
    color: var(--color-gray);
  }

  &.middle {
    width: 28px;
    height: 28px;
    font-size: 18px;
  }

  &.large {
    width: 32px;
    height: 32px;
    font-size: 21px;
  }
}
