.emptyCellLine {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.emptyCell {
  position: relative;
  top: 1px;
  width: 100%;
  height: 60px;
  border: 1px solid var(--color-gray);
}

.timeLine {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.timeText {
  width: 36px;
  height: 60px;
}
